<form class="add-post-form" action="/add-post" method="POST">
    <label>Title: <input type="text" name="title"></label>
    <label>Author: <input type="text" name="author"></label>
    <label>Content: <textarea name="content"></textarea></label>
    <button>Submit post</button>
</form>